In [ ]:
import pandas as pd

**Note:** This is a data cleaning and preprocessing exercise. Ensure that all data preprocessing and transformations are continually updated in the data frame that will be saved towards the end of the exercise.

# Task 1
## Inspect the data
- Load the data
- Display the first 5 rows
- Display 5 random rows
- Check the number of rows and columns
- Inspect the data types of all features

In [ ]:
##### CODE HERE #####

# Task 2
## Fix data types
- Ensure that all features are stored in the most suitable data type
- Convert the `'Product Price'` feature to `float64` data type

In [ ]:
##### CODE HERE #####

# Task 3
## Handle missing values
- Identify columns with missing values
- Replace missing values in string columns with `'nodata'`
- Replace missing numeric values with median

In [ ]:
##### CODE HERE #####

# Task 4
## Remove duplicate records
- Check whether duplicate rows exist
- Remove duplicate records
- Display how many rows were removed

In [ ]:
##### CODE HERE #####

# Task 5
## Standardise column names
- Remove any leading and trailing whitespaces from column names
- Convert all column names to lowercase
- Replace spaces between words with underscores (`_`)
- Ensure there are no multiple consecutive underscores
- Remove any leading or trailing underscores
- Display the updated column names

In [ ]:
##### CODE HERE #####

# Task 6
## Engineer new features
- Create a column `'price_category'`:
    - `'low'` if product price is less than 500
    - `'medium'` if product price is between 500 and 2000 (both inclusive)
    - `'high'` if product price is greater than 2000
- Create a column `'has_reviews'`:
    - `'yes'` if the product has at least one review
    - `'no'` otherwise
- Obtain the mode of the `'price_category'` feature

In [ ]:
##### CODE HERE #####

# Task 7
## Treat outliers
- Use the interquartile range (IQR) method to identify outliers in the `'product_price'` column
  - IQR = Q3 - Q1, UL = Q3 + 1.5 * IQR, LL = Q1 - 1.5 * IQR
- Find the number of outliers according to the IQR method and treat them by capping them to the UL or the LL accordingly

In [ ]:
##### CODE HERE #####

# Task 8
## Write cleaned dataset to disk

In [ ]:
df.to_csv('nykaa_eda.csv', index = False)