In [1]:
import pandas as pd

**Note:** This is a data cleaning and preprocessing exercise. Ensure that all data preprocessing and transformations are continually updated in the data frame that will be saved towards the end of the exercise.

# Task 1
## Inspect the data
- Load the data
- Display the first 5 rows
- Display 5 random rows
- Check the number of rows and columns
- Inspect the data types of all features

In [2]:
##### CODE HERE #####
df=pd.read_csv("nykaa_data_preprocessing.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product Id               263 non-null    object
 1   Product Brand Code       263 non-null    object
 2   Product Category         263 non-null    object
 3   Product Brand            263 non-null    object
 4   Product Name             263 non-null    object
 5   Product Price            263 non-null    int64
 6   Product Url              244 non-null    object
 7   Productdescription       263 non-null    object
 8   Product Image Url        242 non-null    object
 9   Product Tags             263 non-null    object
 10  Product Contents         263 non-null    object
 11  Product Rating           248 non-null    float64
 12  Product Reviews Count    263 non-null    int64
 13  Expected Category Count  263 non-null    int64
 14  Expected Brand Count     263 non-null    int64
dtypes: float64(1), int64(4), object(10)
memory usage: 30.9+ KB

# Task 2
## Fix data types
- Ensure that all features are stored in the most suitable data type
- Convert the `'Product Price'` feature to `float64` data type

In [3]:
##### CODE HERE #####
df['Product Price'] = df['Product Price'].astype('float64')

# Verify
df.dtypes

Product Id                  object
Product Brand Code          object
Product Category            object
Product Brand               object
Product Name                object
Product Price              float64
Product Url                 object
Productdescription          object
Product Image Url           object
Product Tags                object
Product Contents            object
Product Rating             float64
Product Reviews Count        int64
Expected Category Count      int64
Expected Brand Count         int64
dtype: object

# Task 3
## Handle missing values
- Identify columns with missing values
- Replace missing values in string columns with `'nodata'`
- Replace missing numeric values with median

In [4]:
##### CODE HERE #####
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])
obj_cols = df.select_dtypes(include='object').columns
df[obj_cols] = df[obj_cols].fillna('nodata')
num_cols = df.select_dtypes(include=['int64', 'float64']).columns

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

df.isnull().sum()

Product Url          19
Product Image Url    21
Product Rating       15
dtype: int64

Product Id                 0
Product Brand Code         0
Product Category           0
Product Brand              0
Product Name               0
Product Price              0
Product Url                0
Productdescription         0
Product Image Url          0
Product Tags               0
Product Contents           0
Product Rating             0
Product Reviews Count      0
Expected Category Count    0
Expected Brand Count       0
dtype: int64

# Task 4
## Remove duplicate records
- Check whether duplicate rows exist
- Remove duplicate records
- Display how many rows were removed

In [5]:
##### CODE HERE #####
df.duplicated().sum()

np.int64(11)

# Task 5
## Standardise column names
- Remove any leading and trailing whitespaces from column names
- Convert all column names to lowercase
- Replace spaces between words with underscores (`_`)
- Ensure there are no multiple consecutive underscores
- Remove any leading or trailing underscores
- Display the updated column names

In [ ]:
##### CODE HERE #####

# Task 6
## Engineer new features
- Create a column `'price_category'`:
    - `'low'` if product price is less than 500
    - `'medium'` if product price is between 500 and 2000 (both inclusive)
    - `'high'` if product price is greater than 2000
- Create a column `'has_reviews'`:
    - `'yes'` if the product has at least one review
    - `'no'` otherwise
- Obtain the mode of the `'price_category'` feature

In [11]:
##### CODE HERE #####
import numpy as np


conditions = [
    df['Product Price'] < 500,
    df['Product Price'].between(500, 2000, inclusive='both'),
    df['Product Price'] > 2000
]

choices = ['low', 'medium', 'high']

df['price_category'] = np.select(conditions, choices, default='medium')

df['price_category'].mode()[0]

'low'

# Task 7
## Treat outliers
- Use the interquartile range (IQR) method to identify outliers in the `'product_price'` column
  - IQR = Q3 - Q1, UL = Q3 + 1.5 * IQR, LL = Q1 - 1.5 * IQR
- Find the number of outliers according to the IQR method and treat them by capping them to the UL or the LL accordingly

In [14]:
##### CODE HERE #####
Q1 = df['Product Price'].quantile(0.25)
Q3 = df['Product Price'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

outliers = df[(df['Product Price'] < lower) | (df['Product Price'] > upper)]

len(outliers)

28

# Task 8
## Write cleaned dataset to disk

In [ ]:
df.to_csv('nykaa_eda.csv', index = False)